<section>
    <h3 class="h3">Consommations d'énergie</h3>

    <table class="table text-center">
        <thead>
            <tr class="align-middle">
                <th rowspan="2">Poste</th>
                <th colspan="2">Consommation finale (kWh/m²/an)</th>
            </tr>
            <tr>
                <th>Scénario conventionnel</th>
                <th>Scénario dépensier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Refroidissement</td>
                <td>{{ data.consommation.c_fr_m2()|format_number }}</td>
                <td>{{ data.consommation.c_fr_m2(true)|format_number }}</td>
            </tr>
            <tr>
                <td>Eclairage</td>
                <td colspan="2">{{ data.consommation.c_ecl_m2()|format_number }}</td>
            </tr>
        </tbody>
    </table>

</section>
